{
   Language: Cpp,
   Standard: c++20,
   BasedOnStyle: Google,
   ColumnLimit: 100,
   AlignAfterOpenBracket: AlwaysBreak,
   AllowAllArgumentsOnNextLine: false,
   BinPackParameters: false,
   BinPackArguments: false
}